body {
	color: #FFFFFF;
	background-color: #323232;
	font-family: sans-serif;
}

a {
	color: #5656FF;
}

code, h1#title {
	/* Fira Code is the best font */
	font-family: "Fira Code", monospace;
	color: #FFFFFF;
	/*	I didn't really like the way the background color wound
	 *	up looking, so I'm leaving it transparent.
	 *	I'll still die on my dark mode hill, though.
	 */
	/*background-color: #10103F;*/
	/*	In case anyone is wondering: this makes the HTML respect
	 *	the whitespace of the text in the field, since we'll be
	 *	working with code, so the readability is kind of important.
	 */
	white-space: pre-wrap;
}

*#hasquery {
	color :#B74A4A;
}
*#hasquery > a {
	color: #B74A4A;
}

.tag {
	color: #FFFFFF;
	background-color: #5F5F5F;
	margin-left: 10px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 12px;
}